<section>
    <div class="jumbotron">
        <h1>Volunteer Registration</h1>
        <p>Post your volunteer infor here</p>
        <p>And let's register for it, users!</p>
    </div><!-- jumbotron -->
    <div class="container">
        <div class="welcome">
            <a class="btn btn-primary" href="#/login">Log in</a>
            <a class="btn btn-default" href="#/register">Register</a>
            <a class="btn btn-success" href="#/directory">Sign in to an event</a>
        </div><!-- welcome -->
    </div><!-- container -->
</section>
